*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 100%;
    display: flex;

}
.logo img{
    width: 100%;
    

}
.navbar{
    display: flex;

}
.nav-list{
    width: 50%;
    background-color: black;
    display: flex;
    align-items: center;

}
.nav-list li{
    list-style: none;
    padding: 20px;

}
.nav-list li a:hover{
    text-decoration: none;
    color: white;

}
.rightNav{
       background-color: blueviolet;
       width: 50%;
       text-align: right;
}
#Search{
    padding: 5px;
    font-size: 20px;
    border: 2px solid gray;
    border-radius: 9px;
    
}
.background{
    background: rgba(red, green, blue, alpha) url('background.webp');
    background-size: cover;
    background-blend-mode: darken;
}
